body {
    width: 100%;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
    background-color: #282b34;
}

.title {
    font-size: 26px;
    line-height: 40px;
    color: #d3d3d3;
}

.news {
    width: 100%;
    padding-left: 10px;
}

.news-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 26px;
}

.news-item-source {
    font-size: 12px;
    color: #eeeeee;
}

.news-item-title {
    margin-left: 15px;
    color: #d3d3d3;
}

.news-item-copy {
    font-size: 12px;
    margin-left: 35px;
    color: #eeeeee; 
}